name: Build

on:
  push:
    paths:
      - 'build/**/'
      - 'legacy/*'
      - 'package.json'
      - 'src/**/*'
      - '.github/workflows/build.yaml'

jobs:
  build:
    name: Build CSS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install Bun
        uses: oven-sh/setup-bun@v1

      - name: Build
        run: make
